<h2>Producer Login:</h2>
<form action="/producers/login" method="post">
<label for="producer[email]">Email address:</label>
<input type="text" name="producer[email]" id="producer[emaiil]"><br>
<label for="producer[password]">Password:</label>
<input type="text" name="producer[password]" id="producer[password]"><br>
<input type="submit" value="Submit">
</form>