<h2>Producer Signup:</h2>
<form action="/producers/signup" method="post">
<label for="producer[name]">Name: </label>
<input type="text" name="producer[name]" id="producer[name]"><br>
<label for="producer[email]">Email Address: </label>
<input type="text" name="producer[email]" id="producer[email]"><br>
<label for="producer[password]">Password: </label>
<input type="text" name="producer[password]" id="producer[password]"><br>
<input type="submit" value="Submit">
</form>